---
import { sidebar as sidebarLinks } from './constants';

const classes = {
  'aside': [
    'bg-white hidden lg:block fixed z-20 inset-0 lg:top-[77px] w-[100%] lg:w-auto right-auto p-10 overflow-y-auto lg:border-r border-0'
  ],
  'button': [
    'mb-4 lg:hidden'
  ],
  'nav': [
    'lg:text-sm leading-8 lg:leading-8 relative'
  ],
  'h5': [
    'section-title mb-2 font-semibold text-slate-900 dark:text-slate-200'
  ],
  'ul': [
    'menu',
    'border-slate-100 dark:border-slate-800'
  ],
  'ahref': [
    'block relative border-l pl-4 -ml-px border-transparent hover:border-slate-400 text-slate-700 hover:text-slate-900',
    'dark:hover:border-slate-500 dark:text-slate-400 dark:hover:text-slate-300'
  ],
  'ul-submenu': [
    'border-l mb-2'
  ],
  'badge': [
    'absolute right-0 bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-gray-300'
  ]
};

export interface Props {
  activePage?: string;
}

const { activePage } = Astro.props;


---
<aside id="sidebar-navigation" class:list={classes['aside']}>
  <button id="closeSidebarBtn" class:list={classes['button']}>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <nav class:list={classes['nav']}>
    <ul class:list={classes['ul']}>
      {sidebarLinks.map((link, index) => (
        <li data-key={index}>
          <h5 class:list={classes['h5']}>{link.section}</h5>
          <ul class:list={classes['ul-submenu']}>
            {link.pages.map((page, index) => {
              console.log('page page', page.href === activePage);
              return (
                <li data-key={index}>
                  <a href={page.href} class:list={[...classes['ahref'], {'text-blue-600 border-blue-600': (String(activePage) === String(page.href))}]}>
                    {page.title} <!-- {page.status ? <span class:list={classes['badge']}>{page.status}</span> : null } -->
                  </a>
                </li>
              )
            })}
          </ul>
        </li>
      ))}
    </ul>
  </nav>
</aside>
<script is:inline>
  document.getElementById("closeSidebarBtn").addEventListener("click", function() {
    var sidebar = document.getElementById("sidebar-navigation");
    sidebar.classList.add("hidden");
  });
</script>